<app-loader *ngIf="!actualite"></app-loader>
<div class="ui stacked segment" *ngFor="let acualites of actualite | paginate: {id: 'listing_pagination',
 itemsPerPage: 10, currentPage: page, totalItems: totlRecord}">
  <div class="ui items">
    <div class="item">
      <div class="ui small image">
        <img src="/assets/img/cardlogo.png">
      </div>
      <div class="middle aligned content">
        <div class="header">
          {{acualites.titre}}
        </div>
        <div class="description">
          <p [innerHTML]="acualites.description | truncate:[300]"></p>
        </div>
        <div class="extra">
         < <div class="ui right floated button" [routerLink]="['/actualite',acualites.id]">
            En savoir plus
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<pagination-controls id="listing_pagination" previousLabel="Previous" nextLabel="Next" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
