<app-side-nav></app-side-nav>

<div class="p-3"></div>
<div class="container">
  <div class="row">
    <h2 class="ui header">
      <i class="eye icon"></i>
      <div class="content">
       Actualité Details
        <div class="sub header">Gérez vos Actualité</div>
      </div>
    </h2>
  </div>
  <div class="ui divider"></div>
  <div class="p-3"></div>
  <div class="row">

    <table class="table table-bordered">
      <thead>
      <tr class="d-flex">
        <th class="col-1">Id</th>
        <th class="col-3">Titre</th>
        <th class="col-6">Descriptions</th>
        <th class="col-2">Operation</th>
      </tr>
      </thead>
      <tbody>
      <tr  class="d-flex" *ngFor="let actualite of actualites | paginate: {id: 'listing_pagination',
 itemsPerPage: 8, currentPage: p, totalItems: totalRecords}">
        <td  class="col-1">{{actualite.id}}</td>
        <td class="col-3">{{actualite.titre}}</td>
        <td class="col-6" [innerHTML]="actualite.description | stringReduce: [100]"></td>

        <td class="col-2">
          <button type="button" class="btn btn-success " [routerLink]="['/dashboard/actualite/detail', actualite.id]"  (click)="updateAct(actualite.id); showModal = true"><i class="fa fa-pencil-square-o"></i></button>
          <button type="button" class="btn btn-danger ml-4" (click)="deleteAct(actualite.id); $event.stopPropagation()"><i class="fa fa-trash"></i></button></td>
      </tr>
      </tbody>
      <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="p = $event"></pagination-controls>
    </table>


  </div>
</div>


<div (click)="onDismissClick()" class="ui dimmer visible active" *ngIf="showModal">
  <div (click)="$event.stopPropagation()" class="ui  modal active">
    <i class="close icon" (click)="onDismissClick()"></i>
    <div class="content">
      <form [formGroup]="actualitForm" (ngSubmit)="onFormSubmit($event)" class="ui form">
        <div class="ui fluid input">
          <div class="ui big label">
            Titre
          </div>
          <input type="hidden"   formControlName="id" [(ngModel)]="actualite.id " >
          <input type="text" formControlName="titre" placeholder="Titre" [ngModel]="actualite.titre"  [formControl]="actualitForm.get('titre')">
        </div>
        <div class="ui divider"></div>
        <div class="ui fluid input">
          <div class="ui big label">
            Date
          </div>
          <input type="date" formControlName="date" [ngModel]="actualite.date |date:'yyyy-MM-dd'" [formControl]="actualitForm.get('date')">
        </div>
        <div class="ui divider"></div>


        <quill-editor formControlName="description" [ngModel]="actualite.description" [strict]="true" format="html" [style]="editorStyle" [modules]="config" [sanitize]="true" ></quill-editor>
        <div>
          <button class="ui submit button primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
