<app-nav-bar></app-nav-bar>
<!--<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Register</div>
        <div class="card-body">
          <form name="my-form" (ngSubmit)="onSubmit()" [formGroup]="addEtudiant">
            <div class="form-group row">
              <label for="nom" class="col-md-4 col-form-label text-md-right">Nom</label>
              <div class="col-md-6">
                <input type="text" id="nom" class="form-control" name="full-name" formControlName="nom"
                       placeholder="Votre Nom">
                <div>
                <span class="text-danger"
                      *ngIf="(AddedEtudiantFormControl.nom.touched || submitted) && AddedEtudiantFormControl.nom.errors?.required">Nom Obligatoire</span>
                </div>
              </div>
            </div>


            <div class="form-group row">
              <label for="prenom" class="col-md-4 col-form-label text-md-right">Prénom</label>
              <div class="col-md-6">
                <input type="text" id="prenom" class="form-control" name="full-name" formControlName="prenom"
                       placeholder="Votre Prénom">
                <div>
                <span class="text-danger"
                      *ngIf="(AddedEtudiantFormControl.prenom.touched || submitted) && AddedEtudiantFormControl.prenom.errors?.required">Prénom Obligatoire</span>
                </div>
              </div>
            </div>


            <div class="form-group row">
              <label for="cin" class="col-md-4 col-form-label text-md-right">CIN</label>
              <div class="col-md-6">
                <input type="number" id="cin" class="form-control" name="cin" formControlName="cin"
                       placeholder="CIN">
                <div>
                <span class="text-danger"
                      *ngIf="(AddedEtudiantFormControl.cin.touched || submitted) && AddedEtudiantFormControl.cin.errors?.required">CIN Obligatoire</span>
                </div>
              </div>
            </div>


            <div class="form-group row">
              <label for="etat" class="col-md-4 col-form-label text-md-right">Etat</label>
              <div class="col-md-6">
                <input type="text" id="etat" class="form-control" name="etat" formControlName="etat"
                       placeholder="Ex: Étudiant">
                <div>
                <span class="text-danger"
                      *ngIf="(AddedEtudiantFormControl.etat.touched || submitted) && AddedEtudiantFormControl.etat.errors?.required">Etat Obligatoire</span>
                </div>
              </div>
            </div>


            <div class="form-group row">
              <label for="grade" class="col-md-4 col-form-label text-md-right">Grade</label>
              <div class="col-md-6">
                <input type="text" id="grade" class="form-control" name="grade" formControlName="grade"
                       placeholder="Ex: Ingénieur">
                <div>
                <span class="text-danger"
                      *ngIf="(AddedEtudiantFormControl.grade.touched || submitted) && AddedEtudiantFormControl.grade.errors?.required">Grade Obligatoire</span>
                </div>
              </div>
            </div>



            <div class="form-group row">
              <label for="dateInscription" class="col-md-4 col-form-label text-md-right">Date Inscription</label>

              <div class="col-md-6">
                <input type="date" id="dateInscription" class="form-control" name="dateInscription" formControlName="dateInscription">
                <div>
                <span class="text-danger"
                      *ngIf="(AddedEtudiantFormControl.dateInscription.touched || submitted) && AddedEtudiantFormControl.dateInscription.errors?.required">Date Obligatoire</span>
                </div>
              </div>
            </div>



            <div class="form-group row">
              <label for="email" class="col-md-4 col-form-label text-md-right">Email</label>
              <div class="col-md-6">
                <input type="email" id="email" class="form-control" name="email" formControlName="email" placeholder="email@email.com">
                <div>
                <span class="text-danger"
                      *ngIf="(AddedEtudiantFormControl.email.touched || submitted) && AddedEtudiantFormControl.email.errors?.required">Email Obligatoire</span>
                </div>
              </div>
            </div>


            <div class="form-group row">
              <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
              <div class="col-md-6">
                <input type="password" id="password" class="form-control" name="password" formControlName="password" >
                <div>
                <span class="text-danger"
                      *ngIf="(AddedEtudiantFormControl.password.touched || submitted) && AddedEtudiantFormControl.password.errors?.required">Password Obligatoire</span>
                </div>
              </div>
            </div>



            <div class="form-group row">
              <label for="etablissement" class="col-md-4 col-form-label text-md-right">Etablissement</label>
              <div class="col-md-6">
                <input type="text" id="etablissement" class="form-control" name="etablissement" formControlName="etablissement"  placeholder="Ex: FSM">
                <div>
                <span class="text-danger"
                      *ngIf="(AddedEtudiantFormControl.etablissement.touched || submitted) && AddedEtudiantFormControl.etablissement.errors?.required">Etablissement Obligatoire</span>
                </div>
              </div>
            </div>


            <div class="form-group row">
              <label for="universite" class="col-md-4 col-form-label text-md-right">Université </label>
              <div class="col-md-6">
                <input type="text" id="universite" class="form-control" name="universite" formControlName="universite"  placeholder="Ex: FSM">
                <div>
                <span class="text-danger"
                      *ngIf="(AddedEtudiantFormControl.universite.touched || submitted) && AddedEtudiantFormControl.universite.errors?.required">Université Obligatoire</span>
                </div>
              </div>
            </div>


           <input type="hidden" value="0" formControlName="activate">

            <div class="col-md-6 offset-md-4">
              <button type="submit" class="btn btn-primary">
                Register
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

</div>-->


<div class="page-wrapper bg-dark p-t-100 p-b-50">
  <div class="wrapper wrapper--w900">
    <div class="card card-6">
      <div class="card-heading">
        <h2 class="title">S'inscrire</h2>
      </div>
      <div class="card-body">
        <form name="form" (ngSubmit)="onSubmit()" [formGroup]="addEtudiant">
          <div class="form-row">
            <div class="name">Nom</div>
            <div class="value">
              <input class="input--style-6" type="text" name="nom" formControlName="nom">
              <div *ngIf="f.nom.touched && f.nom.invalid"  class="ui pointing red basic label">
                <div *ngIf="f.nom.errors.required"> Nom Obligatoire </div>
                <div *ngIf="f.nom.errors.minlength"> Min 2 charactére  </div>
                <div *ngIf="f.nom.errors.maxlength"> Max 20 charactére  </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="prenom">Prénom</div>
            <div class="value">
              <input class="input--style-6" type="text" name="prenom" formControlName="prenom">
              <div *ngIf="f.prenom.touched && f.nom.invalid"  class="ui pointing red basic label">
                <div *ngIf="f.prenom.errors.required"> prenom Obligatoire </div>
                <div *ngIf="f.prenom.errors.minlength"> Min 2 charactére  </div>
                <div *ngIf="f.prenom.errors.maxlength"> Max 20 charactére  </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="cin">CIN</div>
            <div class="value">
              <input class="input--style-6" type="text" name="cin" formControlName="cin">
              <div *ngIf="f.cin.touched && f.cin.invalid"  class="ui pointing red basic label">
                <div *ngIf="f.cin.errors.required"> CIN Obligatoire </div>
                <div *ngIf="f.cin.errors.maxlength"> Max 8 charactére  </div>
                <div *ngIf="f.cin.errors.pattern"> CIN invalide  </div>
              </div>
            </div>
          </div>


          <div class="form-row">
            <div class="etat">Etat</div>
            <div class="value">
              <select class="input--style-6 form-control "  name="etat" formControlName="etat">
                <option *ngFor="let item of etatOption" [value]="item.name">{{item.name}}</option>
              </select>
              <div *ngIf="f.etat.touched && f.etat.invalid"  class="ui pointing red basic label">
                <div *ngIf="f.etat.errors.required"> Etat Obligatoire </div>
              </div>
            </div>
          </div>


          <div class="form-row">
            <div class="grade">Grade</div>
            <div class="value">
              <select class="input--style-6 form-control "  name="grade" formControlName="grade">
                <option *ngFor="let item of gradeOptions" [value]="item.name">{{item.name}}</option>
              </select>
              <div *ngIf="f.grade.touched && f.grade.invalid"  class="ui pointing red basic label">
                <div *ngIf="f.grade.errors.required"> Grade Obligatoire </div>
              </div>
            </div>
          </div>


            <div class="form-row">
              <div class="specialite">Spécialité</div>
              <div class="value">
                <input class="input--style-6" type="text" name="specialite" formControlName="specialite">
                <div *ngIf="f.specialite.touched && f.specialite.invalid"  class="ui pointing red basic label">
                  <div *ngIf="f.specialite.errors.required"> Spécialité Obligatoire </div>
                  <div *ngIf="f.specialite.errors.minlength"> Min 2 charactére  </div>
                  <div *ngIf="f.specialite.errors.maxlength"> Max 20 charactére  </div>
                </div>
              </div>
            </div>


          <div class="form-row">
            <div class="dateInscription">Date première inscription</div>
            <div class="value">
              <div class="input-group">
              <input class="input--style-6 form-control" type="date" name="dateInscription" formControlName="dateInscription">
              <div *ngIf="f.dateInscription.touched && f.dateInscription.invalid"  class="ui pointing red basic label">
                <div *ngIf="f.dateInscription.errors.required"> Date première inscription Obligatoire </div>
              </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="name">Email</div>
            <div class="value">
              <div class="input-group">
                <input class="input--style-6" type="email" name="email" placeholder="example@email.com" formControlName="email">
                <div *ngIf="f.email.touched && f.email.invalid"  class="ui pointing red basic label">
                  <div *ngIf="f.email.errors.required"> Email Obligatoire </div>
                  <div *ngIf="f.email.errors.email"> Email Invalide </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="name">Password</div>
            <div class="value">
              <div class="input-group">
                <input class="input--style-6" type="password" name="password"  formControlName="password">
                <div *ngIf="f.password.touched && f.password.invalid"  class="ui pointing red basic label">
                  <div *ngIf="f.password.errors.required"> Password is required</div>
                  <div *ngIf="f.password.errors?.invalidPassword">
                    Le mot de passe doit contenir au moins 8 caractères, au moins 1 lettre majuscule, 1 lettre minuscule et 1 chiffre
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="name">Confirm Password</div>
            <div class="value">
              <div class="input-group">
                <input class="input--style-6" type="password" name="confirmPassword"  formControlName="confirmPassword">
                <div *ngIf="f.confirmPassword.touched && f.confirmPassword.invalid"  class="ui pointing red basic label">
                  <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                  <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                </div>
              </div>
            </div>
          </div>


          <div class="form-row">
            <div class="name">Établissement</div>
            <div class="value">
              <input class="input--style-6" type="text" name="etablissement" formControlName="etablissement">
              <div *ngIf="f.etablissement.touched && f.etablissement.invalid"  class="ui pointing red basic label">
                <div *ngIf="f.etablissement.errors.required"> Établissement Obligatoire </div>
                <div *ngIf="f.etablissement.errors.minlength"> Min 2 charactére  </div>
                <div *ngIf="f.etablissement.errors.maxlength"> Max 20 charactére  </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="name">Université</div>
            <div class="value">
              <input class="input--style-6" type="text" name="universite" formControlName="universite">
              <div *ngIf="f.universite.touched && f.universite.invalid"  class="ui pointing red basic label">
                <div *ngIf="f.universite.errors.required"> Université Obligatoire </div>
                <div *ngIf="f.universite.errors.minlength"> Min 2 charactére  </div>
                <div *ngIf="f.universite.errors.maxlength"> Max 20 charactére  </div>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <button class="btn btn--radius-2 btn--blue-2" type="submit" (click)="modalOpen = true">S'inscrire</button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>

<sui-modal [isClosable]="true" *ngIf="modalOpen" [isBasic]="true"   (dismissed)="modalOpen = false" #modal class="modal" >
  <div class="ui icon header">
    <i class="chevron circle down icon"></i></div>
  <div class="ui header" id="header">
    <p>Votre demande a éte envoyé, attendez l'acceptation par l'administration</p>
  </div>
  <div class="actions" id="posButton">
    <div class="large ui green ok inverted button" (click)="modal.approve('done');redirect() " autofocus>
      <i class="chevron circle down icon"></i>
      OK
    </div>
  </div>
</sui-modal>

