
<!--<div class="ui placeholder segment">-->

  <div class="column">

    <div class="field">


      <div class="ui large label">
        <i class="user circle outline icon"></i>
        <label>Espace Etudiant</label>
      </div>
    </div>
  </div>

  <div class="ui cards">
    <div class="card">
      <div class="content">
       <!-- <div class="header">-->
          <div class="ui blue inverted segment">
            <a [routerLink]="['/etudiant/register']" class="item">
              <i class="images outline icon"> </i>
              s'inscrire
            </a>
          </div>

        <div class="ui blue inverted segment">
          <a [routerLink]="['/galerie']" class="item">
            <i class="images outline icon"> </i>
            se connecter
          </a>
        </div>

        </div>
      </div>
    </div>
<!--  </div>-->

  <!--<div class="ui divider"></div>
  <div class="column">
    <div class="ui form">
      <div class="field">
        <label>Username</label>
        <div class="ui left icon input">
          <input type="text" placeholder="Username">
          <i class="user icon"></i>
        </div>
      </div>
      <div class="field">
        <label>Password</label>
        <div class="ui left icon input">
          <input type="password">
          <i class="lock icon"></i>
        </div>
      </div>
      <div class="ui blue submit button">Login</div>
    </div>
  </div>-->

<!--</div>-->
