<div class="ui stacked segment">
<div class="ui items">
  <div class="item">
    <div class="ui small image">
      <img src="/assets/img/cardlogo.png">
    </div>
    <div class="middle aligned content">
      <div class="header">
        Content A
      </div>
      <div class="description">
        <p>Sous le Haut Patronage de Monsieur le Chef du Gouvernement, le Ministère de l’enseignement supérieur et de la recherche scientifique organise la première foire virtuelle en science, technologie et innovation face à la pandémie COVID-19, conjointement avec le Ministère des technologies de la communication et de la Transition Numérique, le Ministère de la Santé, le Ministère de l’industrie et des PMEs, et la Caisse des dépôts et consignations. Cette foire virtuelle démarre le mardi 14 avril 2020, à partir de 10h.00 sur les liens web ci-après : https://vfair.i-360.tn/ Ou également :</p>
      </div>
      <div class="extra">
        <div class="ui right floated button">
          Action
        </div>
      </div>
    </div>
  </div>
</div>
</div>
