<div class="body">
  <div class="container">

    <div class="row">
      <div class="col-lg-3 col-md-2">    </div>
      <div class="col-lg-6 col-md-8 login-box">
        <div class="col-lg-12 login-key">
          <i class="fa fa-key" aria-hidden="true"></i>
        </div>
        <div class="col-lg-12 login-title">
         Super ADMIN PANEL
        </div>

        <div class="col-lg-12 login-form">
          <div class="col-lg-12 login-form">
            <form (ngSubmit)="onSubmit()" [formGroup]="registerSuperAdminForm">
              <div class="form-group">
                <label class="form-control-label">mail</label>
                <input type="email" class="form-control" formControlName="username" [ngClass]="{'is-valid': submitted &&registerFormControl.username.errors}">
                <span class="text-danger"
                      *ngIf="(registerFormControl.username.touched || submitted) && registerFormControl.username.errors?.required">Email Obligatoire</span>
                <span class="text-danger"
                      *ngIf="registerFormControl.username.touched && registerFormControl.username.errors?.userNameNotAvailable">Email Format incorrect</span>
              </div>
              <div class="form-group">
                <label class="form-control-label">PASSWORD</label>
                <input type="password" class="form-control" formControlName="password" [ngClass]="{'is-valid': submitted &&registerFormControl.password.errors}">
                <span class="text-danger"
                      *ngIf="(registerFormControl.password.touched || submitted) && registerFormControl.password.errors?.required">Password Obligatoire</span>
                <span class="text-danger"
                      *ngIf="registerFormControl.password.touched && registerFormControl.password.errors?.invalidPassword">
                  Le mot de passe doit contenir au moins 8 caractères, au moins 1 lettre majuscule, 1 lettre minuscule et 1 chiffre
                </span>
              </div>

              <div class="col-lg-12 loginbttm">
                <div class="col-lg-6 login-btm login-text">
                  <!-- Error Message -->
                </div>
                <div class="col-lg-6 login-btm login-button">
                  <button type="submit" class="btn btn-outline-primary">LOGIN</button>
                </div>

              </div>
            </form>

          </div>
        </div>
        <div class="col-lg-3 col-md-2"></div>
      </div>
      <div class="col-lg-9">  <app-alert></app-alert></div>
    </div>

  </div>
</div>
