<h4 class="ui horizontal divider header">
  <i class="clipboard check icon"></i>
  Manifestations
</h4>
<app-loader *ngIf="!manifestation"></app-loader>
<div class="ui card">
  <div class="content">
    <div class="description">
      <div class="ui vertical text menu" *ngFor="let manifestations of manifestation">
        <p><a [routerLink]="['/manifestation',manifestations.id]" target="_blank" class="item">{{manifestations.titre}}</a></p>
      </div>
    </div>
  </div>
  <div class="extra content ">
    <button routerLink="/manifestation" class="ui mini right floated primary button">Plus d'évènemants</button>
  </div>
</div>
