<app-nav-bar> </app-nav-bar>

<div class="ui one column grid">
  <div class="column">
    <div class="ui segment">
      <img class="img"  src="/assets/img/default.jpg">
    </div>
  </div>
</div>

<div class="ui divider grid"></div>
<div class="ui grid">

  <div class="three wide column col ">
    <app-espace-intranet></app-espace-intranet>
    <div class="ui divider"></div>
    <app-maj></app-maj>
  </div>
  <div class="eleven wide column">
    <app-manifestation-detail></app-manifestation-detail>
  </div>

</div>
