<div class="card-counter danger">
  <span class="count-numbers">Manifestation</span>
  <i class="fa fa-leanpub position"></i>

  <div class="btn-ajout">
  <button (click)="showModal = true" type="button" class="btn btn-outline-light">Ajouter</button>
  </div>

  <div class="btn-consulter">
  <button type="button" class="btn btn-outline-light" routerLink="/dashboard/manifestation/detail">Consulter</button>
  </div>

</div>
<app-manifestation-ajout-modal (dismiss)="showModal = false" *ngIf="showModal"></app-manifestation-ajout-modal>
